* {
  margin: 0;
  padding: 0;
  font-family:'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

#title {
  color:white;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
  height: 63vh;
  z-index: 4;
  position: relative;
}

nav {
  background: rgba(0, 0, 0, .3);
  top:0;
  width: 100%;
  transition:all 0.5s;
  transition:background 1.25s;
  position: relative;
  z-index: 3;
}

body.fixed-nav nav {
  position: fixed;
  background: black;
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
  box-shadow:0 2px 0 rgba(0,0,0,0.1);
  height: 10vh;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100vw;
  background: white;
  color:yellow;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
  height: 0px;
  transition: all 0.5s ease;
  overflow: hidden;
  box-shadow:0 2px 0 rgba(0,0,0,0.1);
}

.showLogo {
  height: 10vh;
}

nav a {
  text-decoration: none;
  padding:20px 0px;
  display: inline-block;
  color:white;
  transition:all 0.2s;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 3px solid white
}

.one {
  background: grey;
  height: 80vh;
}

#titlePic {
  position: absolute;
  width: 100vw;
  height: 180vh;
}
article {
  background-attachment: fixed;
}

.two {
  background: url('Pic/exPic3.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 80vh;

}

.three {
  height: 80vh;
  background: url('Pic/exPic2.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#biggerGallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#gallery {
  height: 50vh;
  width: 50vw;
  position: relative;
  overflow: hidden;
  margin-bottom: 5vh;
}

.galleryDiv {
  display: inline-block;
  height: 50vh;
  width: 50vw;
}

#rightArrow {
 position: absolute;
 right: 0;
 top: 50%;
 transform: translateY(-50%);
 z-index: 2;
 transition: visibility 0s, opacity .3s ease-out;
 height: 35%;
}

#leftArrow {
 position: absolute;
 left: 0;
 top: 50%;
 transform: translateY(-50%) rotateY(180deg);
 z-index: 2;
 transition: visibility 0s, opacity .3s ease-out;
 visibility: hidden;
 opacity: 0;
 height: 35%;
}

#imgSlider {
  left: 0px;
  transition: left 1s;
  white-space: nowrap;
  position: absolute;
}

.galleryInfo {
  height: 30vh;
  width: 30vw;
  margin-left: 5vw;
}

#innerGalleryInfo {
  height: 30vh;
  width: 30vw;
  background: grey;
  position: relative;
  transition: left .5s cubic-bezier(0.61,-0.19, 0.7,-0.11);
  left: 0px; /*to make first transition work need this to be 0*/
}

.projectDetails {
  display: none;
}

.projectDetailsShow {
  display: block;
}

.projectDetails p{
  font-size: .8em
}


.galleryDiv img{
  height: 100%;
  width: 100%;
}

#galleryItems {
  height: 12vh;
  width: 40vw;
  background-color: rgba(169,169,169, .7);
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.indGalItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2vh;
  height: 8vh;
}

.selectedGallery {
  padding: 1vh;
  flex: 1.2;
  height: 10vh;
}

.indGalItem img {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.four {
  height: 80vh;
  width: 100vw;
  overflow: hidden;
}

#sec4Pic {
  position: relative;
  display: block;
  width: 100vw;
  height: 163vh;
  z-index: -1;
}

.highlight {
  transition: all 0s;
  border-bottom:2px solid white;
  position: fixed;
  top:0;
  background:white;
  left:0;
  z-index: 4;
  border-radius:20px;
  display: block;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
