* {
  margin: 0;
  padding: 0;
  font-family:'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

h1 {
  color:white;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
  height: 50vh;
}

nav {
  background:black;
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

body.fixed-nav nav {
  position: fixed;
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
  box-shadow:0 2px 0 rgba(0,0,0,0.1);
  height: 10vh;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100vw;
  background: white;
  color:yellow;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
  height: 0px;
  transition: all 0.5s ease;
  overflow: hidden;
  box-shadow:0 2px 0 rgba(0,0,0,0.1);
}

.showLogo {
  height: 10vh;
}

nav a {
  text-decoration: none;
  padding:20px 0px;
  display: inline-block;
  color:white;
  transition:all 0.2s;
  text-transform: uppercase;
  width:108px;
  text-align: center;
}

.one {
  background: grey;
  height: 100vh;
}

.two {
  background: red;
  height: 80vh;
}

.three {
  background: green;
  height: 80vh;
}

.four {
  background: blue;
  height: 80vh;
}

.highlight {
  transition: all 0s;
  border-bottom:2px solid white;
  position: fixed;
  top:0;
  background:white;
  left:0;
  z-index: 5;
  border-radius:20px;
  display: block;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
