* {
  margin: 0;
  padding: 0;
  font-family:'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

#title {
  color:white;
  font-size: 7vw;
  height: 63vh;
  width: 100vw;
  z-index: 4;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loadLinks {
  position: absolute;
  top: 1vh;
  right: 1vw;
  z-index: 100;
  display: flex;
}

#title h1 {
  /*color: white;*/
  color: #fffffa;
  position:relative;
  font-family: 'Aldrich', sans-serif;
  text-shadow: 3px 4px 0 rgba(0,0,0,.6);
}

#title h2 {
  font-size: 3vw;
  text-shadow: 2px 3px 0 rgba(0,0,0,.8);
  margin-top: 2vh;
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes rubberBand {
  from {
    transform: scale3d(2, 1, 1);
  } 30% {
    transform: scale3d(.75, 0.75, 1);
  } 40% {
    transform: scale3d(1.15, 1.25, 1);
  } 50% {
    transform: scale3d(.95, 0.85, 1);
  } 65% {
    transform: scale3d(1.05, 1.05, 1);
  } 75% {
    transform: scale3d(.98, .95, 1);
  } to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}

nav {
  background: rgba(0, 0, 0, .3);
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 3;
}

body.fixed-nav nav {
  position: fixed;
  background: black;
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
  box-shadow:0 2px 0 rgba(0,0,0,0.1);
  height: 10vh;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100vw;
  background: #eee9e9;
  /*background: white;*/
  color:black;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
  height: 0px;
  overflow: hidden;
  box-shadow:0 2px 0 rgba(0,0,0,0.1);
  text-shadow: none;
  display: flex;
}

#logoLeft {
  width: 50vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#logoRight {
  width: 50vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h2 {
  position: relative;
  display: inline-block;
  transition: left .25s ease-out;
  font-size: 8.88vh;
  margin-left: 1vw
}

.links {
  opacity: 0;
  transition: opacity linear 1s;
  margin: 2vw;
}

.linkMain {
  padding: .5vw;
}

.links:hover, .linkMain:hover {
  cursor: pointer;
  color: #55acee !important;
}

.showLogo {
  height: 10vh;
}

nav a {
  text-decoration: none;
  padding:20px 0px;
  display: inline-block;
  color:white;
  transition:all 0.2s;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 3px solid white;
  font-family: 'Aldrich', sans-serif;
}

.arrowDown {
  position: fixed;
  z-index: 10;
  animation: moveDown 2s infinite;
  top: 100vh;
  /*transform: translateY(-100%);*/
  left: 50%;
  transform: translateX(-50%);
  color: white !important;
}
@keyframes moveDown {
    0%   {top: 95vh;
          transform: translateY(-100%);}
    60%  {top: 100vh;
          transform: translateY(-100%);}
    100% {top: 95vh;
          transform: translateY(-100%);}
}

.one {
  background: grey;
  height: 80vh;
  overflow: hidden;
}

#titlePic {
  position: absolute;
  width: 100vw;
  height: 180vh;
}
article {
  background-attachment: fixed;
}

.two {
  background: url('Pic/exPic3.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 80vh;

}

.three {
  height: 80vh;
  background: url('Pic/exPic2.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#biggerGallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#gallery {
  height: 50vh;
  width: 50vw;
  position: relative;
  overflow: hidden;
  margin-bottom: 5vh;
}

.galleryDiv {
  display: inline-block;
  height: 50vh;
  width: 50vw;
}

#rightArrow {
 position: absolute;
 right: 0;
 top: 50%;
 transform: translateY(-50%);
 z-index: 2;
 transition: visibility 0s, opacity .3s ease-out;
 height: 35%;
}

#leftArrow {
 position: absolute;
 left: 0;
 top: 50%;
 transform: translateY(-50%) rotateY(180deg);
 z-index: 2;
 transition: visibility 0s, opacity .3s ease-out;
 visibility: hidden;
 opacity: 0;
 height: 35%;
}

#imgSlider {
  left: 0px;
  transition: left 1s;
  white-space: nowrap;
  position: absolute;
}

.galleryInfo {
  height: 30vh;
  width: 30vw;
  margin-left: 5vw;
}

#innerGalleryInfo {
  height: 30vh;
  width: 30vw;
  background: grey;
  position: relative;
  transition: left .5s cubic-bezier(0.61,-0.19, 0.7,-0.11);
  left: 0px; /*to make first transition work need this to be 0*/
}

.projectDetails {
  display: none;
}

.projectDetailsShow {
  display: block;
}

.projectDetails p{
  font-size: .8em
}


.galleryDiv img{
  height: 100%;
  width: 100%;
}

#galleryItems {
  height: 12vh;
  width: 40vw;
  background-color: rgba(169,169,169, .7);
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.indGalItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2vh;
  height: 8vh;
}

.selectedGallery {
  padding: 1vh;
  flex: 1.2;
  height: 10vh;
}

.indGalItem img {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.four {
  height: 80vh;
  width: 100vw;
  overflow: hidden;
}

#sec4Pic {
  position: relative;
  display: block;
  width: 100vw;
  height: 163vh;
  z-index: -1;
}

.highlight {
  transition: all 0s;
  border-bottom:2px solid white;
  position: fixed;
  top:0;
  background:white;
  left:0;
  z-index: 4;
  border-radius:20px;
  display: block;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
